@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* CSS Document */
body{ /*****this css affects whole body of the page*/
	margin:0px;
	padding: 0px;
	font-family:poppins;
}
.h1banner{
	text-align: center;
	background-color:#005792;
	padding: 20px;
	color: #FFFFFF;
	margin-left: 30%;
	margin-right: 30%;
	border-radius: 10px;

}

/*Navbar***************/
ul{
	list-style:none;
}
a{
	text-decoration:none;
}
#main{
	width:100%;
	height:100vh;
	position: relative;
}
nav{/*CSS for navbar*/
	display: flex;
	justify-content: space-around;
	align-items: center;
	box-shadow: 5px 10px 30px rgba(0,0,0,0.02);
	left: 0;
	padding-top: 10px;
	width:100%;
	z-index: 1;
	background-color: #FFFFFF;
}
.logo{
	height:45px;
}
nav ul{
	display: flex;
}
nav ul li a{
	height:40px;
    font-family: "montserrat",sans-serif;
	line-height: 43px;
	margin: 3px;
	padding: 0px 22px;
	display: flex;
	font-size: 0.8rem;
	text-transform: uppercase;
	font-weight: 600;
	color:#585b5b;
	letter-spacing: 1px;
}

nav ul li a:hover{/*This css afftects navbar if anything triggers it*/
	background-color: #005792;
	color:#FFFFFF;
	box-shadow: 5px 10px 30px rgba(64,198,196,0.3);
	transition: all ease 0.2s;
}
/*******************************************************Home*******************************************************/

.model img{/*CSS for image of home section*/
	width:100%;
	height: 100%;
	object-fit: contain;
	border-radius: 60%;
	
}
.model{
	width:500px;
	height: 500px;
}
.content{/*csss for whole body except navbar in home page*/
	width:90%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: 80px;
	transform: translate(-50%,-50%);
}
.main-text{
	width:500px;
}
.main-text h1{
	font-size: 3.3rem;
	color:#1c3548;
	margin:0px 0px 10px 0px;
	line-height: 40px;
    font-family: "montserrat",sans-serif;
}

.main-text h2{
	font-size: 1rem;
	color:#1c3548;
	margin:0px 0px 10px 0px;
	line-height: 30px;
    font-family: "montserrat",sans-serif;
}

.main-text p{
	color:#747474;
}
.portfolio-btn{
	width:190px;
	height: 44px;
	display: flex;
	justify-content: center;
	align-items: center;
	color:#FFFFFF;
	background-color: #005792;
	border-radius: 20px;
	box-shadow: 4px 10px 30px rgba(24,139,119,0.2);
}
.portfolio-btn:hover{
	background-color: #67abdf;
	transition: all ease 0.2s;
}

/******************************************************CV***********************************************************/


.cv-data{
	width:90%;
	display: flex;
	justify-content: space-around;
	align-items:center;
	position:relative;
    left: 7%;
	margin-top: 100px;
	
}

.cv-text{
	margin-left: 80px;
	margin-right: 40px;
	row-gap: 5px;
	
}
.cv-text span{
	color: #005792;
	font-size: 25px;
}

.cv-img{
	object-fit: contain;
	border-radius: 20%;
	margin-right: 80px;
}

/************CV***Table**************/
.edh1{
	font-size: 36px;
    text-align: center;
    margin-top: 60px;
	text-decoration: underline;
}

table{/**CSS for CV table*/
    font-family: "Montserrat", sans-serif;
   border-collapse: collapse;
   width: 80%;
   line-height: 2;
   margin: 50px auto 50px auto;
  }

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

th{
	background-color: #005792;
	color: #FFFFFF;
	font-weight: 400;
}

/******CV**Skills**/
.row {
    display: flex;
    width: 80%;
    text-align: center;
    margin: auto;
    justify-content: space-between;

}
.row .col-1 {
    flex-basis: 33%;
    background-color: #005792;
    padding: 20px 12px;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 20px;
	color: #FFFFFF;
    cursor: pointer;
}

.col-1 p {
    margin: 15px;
}
.col-1 h4 {
	font-weight: 500;
	text-decoration:underline;
}

.row .col-1 img {
    border-radius: 10%;
}

.skills h1 {
    font-size: 36px;
    text-align: center;
    margin-top: 60px;
	text-decoration: underline;
  
}

.skills{
	margin-bottom: 50px;
}

.col-1:hover {
	box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.8);
}

/*******************************************Blog*Css**********************************************/
.blog-data{ 
	width: 70%;
	text-align: center;
	margin: auto;
}
.blog-img{
	width: 40%;
	margin-left:auto;
}
.blog-main-img{
	width: 60%;
	margin-left:auto;
}

.blog-title{
	width: 90%;
	margin: auto;
}

.blog-p{
	text-align: left;
}

/***********************************************Research*Html*******************************************/
.research-title{
	width: 90%;
	margin: 3rem auto;
}
.image-section{
	display: flex;
}
.image-section img{
	margin-inline: 1rem;
}
/***********back to top up button************/
.to-top {
	padding: 5px;
	background-color: #005792;
	color: #FFFFFF;
	margin-left: 50%;
	transition: all .4s;
	scroll-behavior: smooth;
}
.to-top:hover{
	background-color: #1c3548;

}
/*******************Footer**********************/
.footer{
/*******Footer CSS for every page*/
	background-color: #34656d;
    text-align: center;
    padding:2% 3%;
	margin-top: 5rem;
	color: #FFFFFF;
  }
  
  .footer-icon{
	  margin:5px 10px;
	  font-size: larger;
	  color: #FFFFFF;
	}

  .footer-icon:hover{
	  zoom: 20fr;
	  color: aquamarine;
  }

